name: Run Postman Collection with Newman

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  newman-tests:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install Node.js
      uses: actions/setup-node@v3
      with:
        node-version: "18"

    - name: Install Newman
      run: npm install -g newman

    - name: Run Newman Collection
      run: |
        newman run postman/TrelloBoardsCRUD.postman_collection.json \
          -e postman/TrelloEnv.postman_environment.json \
          --reporters cli
